<h1>Edit word</h1>
<div class="error">
    <% @note.errors.full_messages.each do |message| %>
        <p><%= message %></p>
    <% end %>
</div>
<%= form_tag "/note/#{@note.id}/update" do %>
<p>Japanese</p>
<input value="<%= @note.japanese %>" name="japanese">
<p>English</p>
<input value="<%= @note.korean %>" name="korean">
<p>Example sentense</p>
<input value="<%= @note.example %>" name="example">
<p>Frequency</p>
<%= select_tag 'fq', options_for_select([
"★","★★","★★★","★★★★","★★★★★"], @note.fq) %>
<p></p>
<input type="submit"　value="Edit">
<% end %>