<h1>Words</h1>
<%= link_to "Add words", "/note/new" %>
<%= form_tag "/note/index", method: :get do %>
  <%= select_tag 'od', options_for_select(["Most recent", "Most frequent"], params[:od]),
  :include_blank => true %>
  <input type="submit" value="Sort">
  <span>List:<%= @list_count %></span>
  <p></p>
  <input name="search">
  <input type="submit" value="Search">
<% end %>

<% @notes.each do |note| %>
  <div class="container">
    <p><span class="no_important">Japanese:</span> <%= note.japanese %></p>
    <p><span class="no_important">English:</span> <%= note.korean %></p>
    <p><span class="no_important">Example sentense:</span> <%= note.example %></p>
    <p><span class="no_important">Frequency:</span> <%= note.fq %></p>
    <span class="time"><%= note.created_at %></span>
    <span class="no_important"><%= link_to "Delete", "/note/#{note.id}/destroy", {method: :post} %></span>
    <span class="no_important"><%= link_to "Edit", "/note/#{note.id}/edit" %></span>
  </div class="container">
<% end %>
