<h1>Words</h1>

<%= form_tag "/note/index", method: :get do %>
  <%= select_tag 'od', options_for_select(["Most recent", "Most frequent"], params[:od]),
  :include_blank => true %>
  <input type="submit" value="Sort">
  <span>List:<%= @list_count %></span>
  <p></p>
  <input name="search">
  <input type="submit" value="Search">
<% end %>

<% @notes.each do |note| %>
  <div class="container">
    <p>Japanese:<%= note.japanese %></p>
    <p>English:<%= note.korean %></p>
    <p>Example sentense:<%= note.example %></p>
    <p>Frequency:<%= note.fq %></p>
    <span class="time"><%= note.created_at %></span>
    <%= link_to "Delete", "/note/#{note.id}/destroy", {method: :post} %>
    <%= link_to "Edit", "/note/#{note.id}/edit" %>
  </div class="container">
<% end %>
