<h1>Add Words</h1>
<div class="error">
    <% @note.errors.full_messages.each do |message| %>
        <p><%= message %></p>
    <% end %>
</div>
<%= form_tag "/note/create" do %>
<p>Japanese</p>
<input name="japanese" value="<%= "#{@note.japanese}" %>">
<p>English</p>
<input name="korean" value="<%= "#{@note.korean}" %>">
<p>Example sentense</p>
<input name="example" value="<%= "#{@note.example}" %>">
<p>Frequency</p>
<%= select_tag 'fq', options_for_select([
"","★","★★","★★★","★★★★","★★★★★"], @note.fq) %>
<p></p>
<input type="submit" value="Add">
<% end %>

