<div>
    <% if @current_user_note==nil %>
        <p>リストがありません</p>
        <%= link_to "リストを追加する", "/note/new" %>
    <% else %>
        <p>
            
        </p>
        <div><%= link_to "シャッフル", "/quiz/home" %></div>
        <%= form_tag "/quiz/#{@current_user_note.id}/check" do %>
            <div><%= @current_user_note.japanese %></div>
            <input name ="answer" autocomplete="off">
            <input type ="submit" value ="回答">
        <% end %>
        <%= @answer %>
        <%= link_to "リストをもっと追加する", "/note/new" %>
    <% end %>
</div>