<h1>Word Quiz</h1>
<div>
    <% if @current_user_note==nil %>
        <p>There is no word yet</p>
        <%= link_to "Add word", "/note/new" %>
    <% else %>
        <p>
            
        </p>
        <div><%= link_to "Shuffle", "/quiz/home" %></div>
        <%= form_tag "/quiz/#{@current_user_note.id}/check" do %>
            <div><%= @current_user_note.japanese %></div>
            <input name ="answer" autocomplete="off">
            <input type ="submit" value ="Answer">
        <% end %>
        <%= link_to "Add more words to enjoy quiz!", "/note/new" %>
    <% end %>
</div>