<h1>日記一覧</h1>
<% if @post_count==0 %>
    <p>日記がありません</p>
<% else %>
    <p>件数:<%= @post_count %></p>
<% end %>
<div>
<% @posts.each do |post| %>
<%= link_to post.title,"/post/#{post.id}/show" %>
(<%= post.created_at.strftime("%Y年%m月%d日") %> by <%= post.user.name %>)
コメント:<%= post.comments.count %>件
<p></p>
</div>
<% end %>
