<h1>Diaries</h1>
<% if @post_count==0 %>
    <p>There is no diary yet</p>
<% else %>
    <p>Diaries:<%= @post_count %></p>
<% end %>
<div>
<% @posts.each do |post| %>
<%= link_to post.title,"/post/#{post.id}/show" %>
(<%= post.created_at.strftime("%Y年%m月%d日") %> by <%= post.user.name %>)
<%= post.comments.count %> comments
<p></p>
</div>
<% end %>
