<h1>Diaries</h1>
<div class="container_2">
<p>Title</p>
<%= @post.title %>
<p>Content</p>
<%= @post.content %>
<p>Created at:</p>
<%= @post.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
<p>Updated at:</p>
<%= @post.updated_at.strftime("%Y年%m月%d日 %H時%M分") %>
<p></p>
<% if @current_user.id == @post.user_id %>
<%= link_to "Edit", "/post/#{@post.id}/edit" %>
<%= link_to "Delete", "/post/#{@post.id}/destroy", {method: :post} %>
<% end %> 
</div>
<div class="comment">
    <h3>Write comment on this diary</h3>
        <%= form_tag "/comment/#{@post.id}/create" do %>
            <textarea name="content"></textarea>
            <p></p>
            <input type="submit" value="Comment">
        <% end %>
    <h3>Comment:<%= @post.comments.count %>件</h3>
        <div class="comment.index"></div>
            <% @comments.each do |comment| %>
                <p>User:
                <%= comment.user.name %></p>
                <p>Content:
                <%= comment.content %></p>
                <% if @current_user.id == comment.user_id %>
                    <%= link_to "Edit","/comment/#{comment.id}/edit" %>
                    <%= link_to "Delete","/comment/#{comment.id}/destroy", {method: :post} %>
                <% end %>
            <% end %>
        </div>
</div>